 
.borderless .dhx_dataview_default_item, .borderless .dhx_dataview_default_item_selected{
border-bottom: none;
border-right: none;
margin-left: auto ;
margin-right: auto ;
margin-top: auto ;
margin-bottom: auto ;
}

table.info {
	font-family: Tahoma;
	color: #256187;
	font-size: 11;
}