/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 850px) {/*1024 768*/
  .container {
    max-width: 850px; /* modified 950 original 730 max width 1128*/
  }
  
  
  
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 10px 10px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) { /*768 original value*/
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

 

.table{
	font-size: 11px;
	 
}

.panel-body{
	height:400px;
	/*width:850px;*/
	padding: 0px;
}
 
 
 .print_only{
		display:none;
		
	}
 
@media print {
 	
 	 body {
    margin: 0;
    padding 0 !important;
    min-width: 850px;
  }
  .container {
    width: auto;
    min-width: 850px;
  }
 	 
	.panel-print-1 {		 
		margin-top: 50px;		 
		page-break-after: always;
		page-break-inside: avoid;
		
	}
	.panel-print-2 {		 
		margin-top: 70px;
		/*page-break-after: always;*/
		page-break-inside: avoid;
	}
	
	ul.nav-tabs{
		visibility:hidden;
		
	}
	
	 
	.logo_image{
		width:350px;
		height:154px;
	}
	
	.header{
		margin-top:100px;
	}
	
	.print_only{
		display:inline;
	}
	
	.no_print{
		display:none;		 
	}
	.zero_height{
		height:0px;
	}
	
	.no-break{
		page-break-inside: avoid;
	}
	
	.page-break-bef{
		page-break-before: always;
	}
	
	.tab-content > .tab-pane {display: block !important; opacity: 1 !important; /*page-break-after: always;*/}
	
	/*.nav{page-break-after: always;} */
	
	 
}

.dhx_axis_item_x{
	font-size: 9px;
}

.dhx_axis_title_y{
	left:0px !important;
}

.dhx_axis_title_x{ 
	 
}

/*
.dhx_axis_item_x{
	font-size: 9px;
	writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:80px;
    height:60px;
    writing-mode:lr-tb;
}*/
/*
.dhx_canvas_text.dhx_axis_item_x{
	display: block;
    writing-mode: tb-rl;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.dhx_axis_item_x{
	padding-top: 80px
}*/

/*.dhx_canvas_text.dhx_axis_item_x{
          display: block;
          -webkit-transform: rotate(-20deg);
          -moz-transform: rotate(-20deg);
          -o-transform: rotate(-20deg);
          -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
          text-align: right;
          height: 50px;
          line-height: 20px;
       }
*/